// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: rgb(240, 238, 238);
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.review-vid{
    transform: translateX(100px) translateY(-100px)
}

$theme-grey: grey;

.image-slide{
    transition: background-image .3s ease-in-out;
    transform: translateX(-120px) translateY(50px);
}


.slide-arrow{
    color: $theme-grey;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    top: 50%;
}

.slide-arrow.right{ 
    right: 1rem
}

.slide-arrow.left{
    left: 1rem;
}

@media screen and (min-width: 750px) {
    .greeting-btn {
      display: none
    }
}

@media screen and (min-width: 705px) {
    .search-box {
        display: none
    }
}




$itemGrow: 1.2;
$duration: 250ms;

html{
    scroll-behavior: smooth;
}



// body {
//     margin: 0;
// }


.wrapper {

    display: grid;
    grid-template-columns: repeat(3, 100%);

    section {
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, auto);
        margin: 20px 0;

    .item {
        padding: 0 2px;
        transition: $duration all;

        &:hover {
        margin: 0 40px;
        transform: scale(1.2);
        }
    }

    
    
    a {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background: rgb(0,0,0);
        width: 80px;
        padding: 20px;
        text-align: center;
        z-index: 1;

        &:nth-of-type(1) {
            top:0; bottom:0; left:0;
            background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }

        &:nth-of-type(2) {
            top:0; bottom:0; right:0;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        }
       
    }
    

        &:nth-child(1) {
            background: teal;
        }

        &:nth-child(2) {
            background: purple;
        }

        &:nth-child(3) {
            background: pink;
        }
    }

}