// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background-color: rgb(214, 209, 209);
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.review-vid{
    transform: translateX(100px) translateY(-100px)
}

$theme-grey: grey;

.image-slide{
    transition: background-image .3s ease-in-out;
    transform: translateX(-120px) translateY(50px);
}


.slide-arrow{
    color: $theme-grey;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    top: 50%;
}

.slide-arrow.right{ 
    right: 1rem
}

.slide-arrow.left{
    left: 1rem;
}

@media screen and (min-width: 750px) {
    .greeting-btn {
      display: none
    }
}

@media screen and (min-width: 705px) {
    .search-box {
        display: none
    }
}